{%load static%}

<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
<link href=" https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/static/Home.css" />



<!--<script src="/static/datepicker.js"></script>-->
<script>

    $(document).ready(function(){
        var minDate = new Date();
        $("#depart").datepicker({
            showAnim: 'drop',
            numberOfMonth: 1,
            minDate: minDate, 
            dateFormat: 'dd/mm/yy',
            onClose: function (selectDate){
                $('#return').datepicker("option", "minDate", selectDate);
            }
        });
    
        $("#return").datepicker({
            showAnim: 'drop',
            numberOfMonth: 1,
            minDate: minDate, 
            dateFormat: 'dd/mm/yy',
            onClose: function (selectDate){
                $('#return').datepicker("option", "minDate", selectDate)
            }
        });
    
    });
    
    </script>





<style>
    form {
        width: 100%;
        margin: 50px auto;
    }
</style>

<div class="general">

    <header>

        <nav class="botones-superiores">

            {% if user.is_authenticated %}
            <a class="btn btn-dark salir" href="javascript:{document.getElementById('salir').submit()}" onclick="">Logout</a>
            <a href="micuenta.html" class="btn btn-dark consultas" role="button" aria-pressed="true">MiCuenta</a>
            <a href="consultar.html" class="btn btn-dark consultas" role="button" aria-pressed="true">Consultas</a>
            

            <form id="salir" method="POST" action="{% url 'salir' %}">
                {% csrf_token %}
                <input type="hidden" />
            </form>
            {% else %}
            <a href="{% url 'ingresar' %}" class="btn btn-dark ingresar" role="button" aria-pressed="true">Ingresar</a>
            <a href="{% url 'registrar-cliente' %}" class="btn btn-dark active" role="button" aria-pressed="true">Registrase</a>
            <a href="consultar.html" class="btn btn-dark consultas" role="button" aria-pressed="true">Consultas</a>
            {% endif %}

        </nav>
        <nav class="botonesizquierdos"  >
           
            <a href="imagenes.html" class="btn btn-dark imagenes" role="button" aria-pressed="true">Ver imagenes</a>
            <a href="info.html" class="btn btn-dark info" role="button" aria-pressed="true">+ Info</a>
        <div class="top">
            <img src="/static/dbs.png" class="dbsuper">
        </div>
    </header>
    
    <form method="POST" action="{% url 'reservas' %}">
        {% csrf_token %}


        <div class="dpicker-right">
            <input type="text" min="" class="form-control" name="pickerR" id="depart" aria-label="Large"
                aria-describedby="inputGroup-sizing-sm" placeholder="check-in" required>
            
            <div class="huesped">
                <h4> <label style="color:white">   Cantidad de huespedes   </label>
            <select name="cantidad_huespedes" class="select" id="CH">
             
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>

             </select>
            </h4> </div>
        </div>

        <div class="dpicker-left">
            <input type="text" class="form-control" name="pickerL" id="return" aria-label="Large"
                aria-describedby="inputGroup-sizing-sm" placeholder="check-out" required>

            <div class="habitacion">
                <h4> <label style="color:white">Cantidad de habitaciones</label>
            <select name="cant_habitaciones">

                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>   
        </h4></div>
        </div>
        
    <div class="buscar">    
        <input type="submit" class="btn btn-dark buscar" aria-pressed="true" value="Buscar">
    </div>
       
    </form>

<div class="social-menu">
        <ul>
            <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
        </ul>
</div>

</div>



<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
-->
</body>

</html>