<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" type="text/css" href="/static/imagenes.css"/>

<form method="POST" action="registrar.py">
    
<div class="container register-form">
            <div class="form">
                <div class="home">
                    <a href="{% url 'home' %}" class="btn btn-dark active" role="button" aria-pressed="true">Home</a>       
                    
                </div>
                
                
                
                
                
                <div class="slider">
                    <img src="hotel/hotelApp1/static/Sauna.jpg"
                    <img src="static/sauna.jpg">
                    <img src="hotelApp1/media/images/Templo.jpeg">
                    <img src="hotelApp1/media/images/WhatsApp Image 2020-10-12 at 16.26.41.jpeg">
                </div>

            </div>
        </div></form>