{%load static%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


		

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" type="text/css" href="/static/Registro_cliente.css"/>


<div class="general">



  <form method="POST" action="{ url 'reservar'}"> 

    <div class="date-pickers">
    <label class="label-i">fecha ingreso:</label>
  
    <input type="text" id="fname" name="fecha_ingreso"  value={{pickerR}}>
    <label class="label-s">fecha salida:</label>

    <input type="text" id="lname" name="fecha_salida" required="" value={{pickerL}}>
    <label class="label-s">cantidad de huespedes:</label>

    <input type="text" id="ch" name="cant_huespedes" required="" value={{cant_huespedes}}>

    <label class="label-s">Dias:{{cant_dias}}</label>
    <br>
    <label class="label-s">precio total:{{precioTotal}}</label>
   
  </div>
  
    <div>
      <label>Cantidad de habitaciones</label>
      <select name="cant_habitaciones">

        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>

      </select>
    </div>

    <div>
      <label>Tipo de habitación</label>
      <select name="tipo_hab">
        {% for tipoHabitacion in tipo_habitaciones.all %}

        <option>{{tipoHabitacion.descripcion}}</option>

        {% endfor %}
      </select>
    </div>

    <input type="submit" class="btnSubmit" value="Registrar"> 

  </form>





</div>